:root {
    --bs-body-bg: white;
    --footer-bg:white;
    --footer-fg:var(--bs-body-color);
}

.portrait img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}


.line-with-picture {
    border: none !important;
}

.navbar {
    border-bottom-width: 2px;
}

footer {
    border-top: 1px solid var(--bs-secondary);
}